{{> nav}}
{{!-- 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> --}}
{{!-- <link rel="stylesheet" type="text/css" href="/css/nav.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" /> --}}


<div class="post_container">

    <div class="left">
        <p class="post_title"> {{data.name}}</p>
        <p class="left_a" id="user">{{data.username}}</p>
        <br>
        <p class="left_a">Major: {{data.major}} </p>
        <p class="left_a">Email: {{data.email}} </p>

        <p class="left_a bottom_left_a">Date Posted: {{data.created}}</a>
        <br>
        <br>
        {{!-- <a class="left_a">Description: {{data.description}}</a> --}}
        <div class="description">
            <p> {{data.bio}}</p>
            {{!-- <a id="readmore" href="#">seomthing about rating here</a> --}}
            <div class="rating" id="ratingstars">
                <p class="avg" id="avg">{{comment.avg}}</p>

                <a id="star5" href="#5" title="Give 5 stars">★</a>
                <a id="star4" href="#4" title="Give 4 stars">★</a>
                <a id="star3" href="#3" title="Give 3 stars">★</a>
                <a id="star2" href="#2" title="Give 2 stars">★</a>

                <a id="star1" href="#1" title="Give 1 star">★</a>
            </div>

        </div>
        <br>
    </div>


    <div class="resume_container">
        {{!-- <embed id="obj" src="{{data.resume}}"> --}}
        <object id="obj" data="{{data.resume}}">object can't be rendered</object>
    </div> 
</div>
<div class="comments">
    <div class="left_title">
        <a class="post_title">Reviews</a>
        {{!-- If user is a student post button will not be available --}}
        {{#if usertype}}
            <div class="right_post"><button id="post_review">Post A Review</button></div>
        {{/if}}
    </div>
    <br>

    {{!-- comments section partial --}}
    {{>comments}}

    <div id="leave_a_review">
        <form action="/comment" method="post" enctype="application/x-www-form-urlencoded">
            <textarea type="text" name="comment" id="review_textarea" cols="30" rows="10">
        </textarea>
            <div class="review_button_container">
                <button>Submit Review</button>
            </div>
            {{!-- <div class="formrating" id="ratingstars">
                <input id="formstar5" type="radio" name="review" href="#5" title="Give 5 stars">★</input>
                <input id="formstar4" type="radio" name="review" href="#4" title="Give 4 stars">★</input>
                <input id="formstar3" type="radio" name="review" href="#3" title="Give 3 stars">★</input>
                <input id="formstar2" type="radio" name="review" href="#2" title="Give 2 stars">★</input>
                <input id="formstar1" type="radio" name="review" href="#1" title="Give 1 star">★</input>
            </div> --}}
            <div class="formrating">
                <p class="avg" id="formavg">N/A</p>
                <input type="radio" name="rating" value="5" /><label for="star5" id="formstar5" title="Rocks!">5
                    stars</label>
                <input type="radio" id="formstar4" name="rating" value="4" /><label for="star4" title="Pretty good">4
                    stars</label>
                <input type="radio" id="formstar3" name="rating" value="3" /><label for="star3" title="Meh">3
                    stars</label>
                <input type="radio" id="formstar2" name="rating" value="2" /><label for="star2" title="Kinda bad">2
                    stars</label>
                <input type="radio" id="formstar1" name="rating" value="1" /><label for="star1" title="Sucks big time">1
                    star</label>
            </div>

        </form>
    </div>

</div>
<br>
<br>