{{> nav}}
{{!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> --}}
<link rel="stylesheet" type="text/css" href="/css/nav.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
<br><br>
<div class="post_container">
    <div class="left">
        <table>
            <tr>
                <td>
                    {{#if data.profilepic}}
                    <img id="result_image" src="{{data.profilepic}}" />
                    {{else}}
                    <img id="result_image" src="../../assets/icons/defaultProfile.png" style="height: 75px; width: 75px;"/>
                    {{/if}}
                </td>
                <td>
                    <a class="post_title" href="/post/{{data.postid}}">Username{{data.username}}</a>
                    <a class="left_a" id="user" href="/user/{{data.username}}">Name: {{data.name}}</a>
                    <a class="left_a top_left_a">Major: {{data.major}} </a>
                    <a class="left_a top_left_a">Email: {{data.email}} </a>
                    <a class="left_a bottom_left_a">Date Posted: {{data.created}}</a>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="resume_container">
        <object id="obj" data="{{data.resumePath}}">object can't be rendered</object>
    </div>
</div>

<br>

<div class="comments">
    <div class="left_title">
        <a class="post_title">Reviews</a>
        <div class="right_post">
            <button id="post_review">Post A Review</button>
        </div>
    </div>

    {{!-- comments section partial --}}
    <div class="comment_container">
        {{!-- <div class="rating" id="ratingstars">
            <a id="star5" href="#5" title="Give 5 stars" style="font-size: small;">★</a>
            <a id="star4" href="#4" title="Give 4 stars" style="font-size: small;">★</a>
            <a id="star3" href="#3" title="Give 3 stars" style="font-size: small;">★</a>
            <a id="star2" href="#2" title="Give 2 stars" style="font-size: small;">★</a>
            <a id="star1" href="#1" title="Give 1 star" style="font-size: small;">★</a>
        </div> --}}
        <a class="note_title">{{this.name}}Dr. Placeholder</a>
        <a class="review_user_title">Professor of {{this.department}}Computer Science, SFSU</a>
        <a class="review_content">{{this.review}}This is a generic review placeholder.</a>
    </div><br>
    {{>comments}}

    <h3 style="padding-left: 20px;">Leave A Review</h3> 
    <div id="leave_a_review">
        <form action="/comment" method="post" enctype="application/x-www-form-urlencoded">
            <textarea type="text" name="comment" id="review_textarea" cols="30" rows="10">text placeholder</textarea>
            <div class="review_button_container">
                <button>Submit Review</button>
            </div>
    
            <div class="formrating">
                <p class="avg" id="formavg">N/A</p>
                <input type="radio" id="formstar5" name="rating" value="5" /><label for="star5" title="Rocks!">5
                    stars</label>
                <input type="radio" id="formstar4" name="rating" value="4" /><label for="star4" title="Pretty good">4
                    stars</label>
                <input type="radio" id="formstar3" name="rating" value="3" /><label for="star3" title="Meh">3
                    stars</label>
                <input type="radio" id="formstar2" name="rating" value="2" /><label for="star2" title="Kinda bad">2
                    stars</label>
                <input type="radio" id="formstar1" name="rating" value="1" /><label for="star1" title="Sucks big time">1
                    star</label>
            </div>

        </form>
    </div>
</div>
<footer></footer>

<br>
<br>