{{> nav}}
<div class="post_container">
    <div class="left">
        <br>

        <a class="left_a">postid: {{data.id}}</a>
        <br>
        <a class="left_a">created by: {{data.username}}</a>
        <a class="left_a">name: {{data.name}}</a>
        <br>

        <a class="left_a">{{data.created}}</a>
        <br>
        <a class="left_a">title: {{data.title}}</a>
        <br>
        <a class="left_a">description: {{data.description}}</a>
        <br>
        <a class="left_a">{{data.resumepath}}</a>
        <br>

    </div>
</div>