{{> nav}}
<div class="post_container">
    testing
    <a>{{data.id}}</a>
    <a>{{data.username}}</a>
    <a>{{data.title}}</a>
    <a>{{data.description}}</a>
    <a>{{data.resumepath}}</a>
    <a>{{data.created}}</a>
    <a>{{data.name}}</a>
</div>