{{> nav}}

<div class="user_info_container">
    <div class="left">
        <a class="username">{{data.name}}</a>
        {{!-- <form action="/user/edit_profile_picture" method="post" enctype="multipart/form-data">
            <input type="file" name="photo" />
            <button type="submit">Save</button>
        </form> --}}
        <br>

        {{!-- IF STUDENT --}}
        {{#equal data.usertype 0}}
            <a class="left_a"> Major: {{data.major}} </a>
        {{/equal}}

        {{!-- IF PROFESSOR --}}
        {{#equal data.usertype 1}}
            <a class="left_a"> Department: {{data.department}} </a>
        {{/equal}}

        {{!-- IF INDUSTRY aka NPO, ERG, RECRUITER --}}
        {{#equal user.usertype 2}}
            <a class="left_a"> Company: {{data.company}} </a>
        {{/equal}}

        <a class="left_a"> Email: {{data.email}} </a>
        <br>
        <br>

        About Me
        {{#if logged}}
            {{#equal user.userid data.id}}
                <button type="button" id="editBioButton" style="float: right;">Edit Bio</button>
            {{/equal}}
        {{/if}}
        <div class="description">
            <p id="current_bio" style="display: flex;">{{data.bio}}</p>
            <form action="/user/savebio" id="bioForm" method="POST">
                <input type="text" id="bio_textfield" placeholder="{{data.bio}}" name="bio" style="display: none;">
                <button type="submit" id="button" style="float: right;display: none;">Save</button>
            </form>

            {{!-- ONLY FOR STUDENTS --}}
            {{#equal data.usertype 0}}
            <div class="rating">
                <a href="#5" titele="Give 5 stars">★</a>
                <a href="#4" title="Give 4 stars">★</a>
                <a href="#3" title="Give 3 stars">★</a>
                <a href="#2" title="Give 2 stars">★</a>
                <a href="#1" title="Give 1 star">★</a>
            </div>
            {{/equal}}
        </div>
        <br>
    </div>

    {{!-- IF STUDENT --}}
    <div class="resume_container">
        <div class="right_userinfo">
            <div class="user_image">
                <img id="pfp" src="{{data.profilepic}}" width="250px"></img>
            </div>
            <div class="username_info">
                <a id="username_info">{{data.username}}</a>
            </div>
            <div class="boxes">
                <ul class="list_boxes">
                    {{#equal data.usertype 0}}
                        <li><a href="/resume/{{data.id}}">Resume</a></li>
                        <li><a href="/post/{{data.id}}">Reviews</a></li>
                    {{/equal}}
                    {{#if authpage}}
                    <li><a href="/user/{{data.username}}/settings">Edit Settings</a></li>
                    <li><a href="/">Messages</a></li>
                    {{/if}}

                </ul>
            </div>
        </div>
    </div>

</div>

{{!-- <div class="posts_container">
    <a class="username" id="userpost_label">User Posts</a>
    {{> posts}}

</div> --}}
