{{#each data}}
<div class="list_container">
    <img id="result_image" src="https://randomuser.me/api/portraits/men/66.jpg" />
    <a id="list_title" href="/post/{{this.id}}">{{this.title}}</a>
    <br>
    <a id="user_link" href="/users/{{this.username}}">{{this.name}}</a>


    {{!-- <a>{{this.description}}</a> --}}

    <div class="moreinfo">
        <a href="/post/{{this.id}}">
            <button>More info</button>
        </a>
    </div>
    <div class="right_created">
        <a>{{this.created}}</a>
    </div>
</div>

{{/each}}