{{#each data}}
<a href="/users/{{this.username}}">
    <div class="list_container">
        <table>
            <tr>
                <td>
                {{!-- {{#if this.alertNotSeenYet}} --}}
                    <div id="dot"></div>
                {{!-- {{/if}} --}}
                </td>
                <td>
                {{#if this.profilepic}}
                    <img id="result_image" src="{{this.profilepic}}" />
                {{else}}
                    <img id="result_image" src="../assets/icons/defaultProfile.png" />
                {{/if}}
                </td>
                <td id="name_title">
                    {{this.name}}</br>Major: {{this.title}}
                </td>
                {{!-- <td colspan="3" rowspan="3" id="date_created">
                    Date Created: {{this.created}}
                </td> --}}
            </tr>
        </table>
    </div>
</a>

{{/each}}

    {{!-- <a>{{this.description}}</a> --}}

    {{!-- <div class="moreinfo">
        <a href="/users/{{this.username}}">
            <button>More info</button>
        </a>
    </div> --}}