{{#each data}}
<a href="/users/{{this.username}}">
<div class="list_container">
        <table>
            <tr><td>
            {{#if this.profilepic}}
                <img id="result_image" src="{{this.profilepic}}" />
            {{else}}
                <img id="result_image" src="https://randomuser.me/api/portraits/men/66.jpg" />
            {{/if}}
            </td></tr>
        </table>
        <table>
            <tr>
                <td>{{this.name}}</td>
            </tr>
            <tr>
                <td>Major: {{this.title}}</td>
            </tr>
        </table>



    {{!-- <a>{{this.description}}</a> --}}

    {{!-- <div class="moreinfo">
        <a href="/users/{{this.username}}">
            <button>More info</button>
        </a>
    </div> --}}
    <div class="right_created">
        <a>{{this.created}}</a>
    </div>
</div>
</a>

{{/each}}